/* Your Website Styles */

body {
	background-image: url("../img/bg63.gif");
	font-family: 'Rosario:700', serif;	
}

h1 {
	font-size: 50px;
}

h1, h2 {
	color: rgb(245,245,245);
	margin: 20px 30px;
}

img {
	margin: 10px 70px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgb(0,0,128);
}

p, ul {
	color: rgb(245,245,245);
	font-size: 1.2em;
	margin: 20px 30px 20px 30px;
}

.boxes1 {
	background: rgb(112,128,144);
	border-radius: 10px;
	width: 43%;
	height: 400px;
  	margin: 10px 40px 20px 30px;
  	box-shadow: 10px 10px 10px rgb(0,0,128);
  }

.boxes {
	background: rgb(112,128,144);
	border-radius: 10px;
	width: 43%;
	height: 1100px;
  	margin: 25px 40px 20px 30px;
  	box-shadow: 10px 10px 10px rgb(0,0,128);
}

a {
  background: rgb(176,196,222);
  border-radius: 5px;
  margin: 10px 0 0 0;
  height: 100px;
  width: 100px;
}

a:hover {
 background: rgb(240,248,255);
}
